.postsContainer {
  margin: auto;
  margin-top: 100px;
  max-width: 600px;
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.333);
}

.postCard {
  margin: 22px 0;
}

.postsContainer .postTitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.2;
  color:#212529;
}

.postsContainer .postSubtitle {
  font-weight: 300;
  font-size: 1.75rem;
}

.postContainer .postDescription {
  font-size: 18px;
  font-style: italic;
  color:#6c757d;
}

.footerSep {
  margin-top: 80px;
}

footer {
  padding: 60px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

footer .linkBtnGroup {
  display: flex;
  gap: 20px;
}
p h3 h4 {font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;}

footer .linkBtnGroup .btnLink {
  color:#fff;
  background: #212529;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postContentWrapper .postLanding {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  flex-direction: column;
  color: #fff;
  
}

.postContent {
  padding-top: 100px;
}

.postContentLendingContainer {
  backdrop-filter: blur(10px) brightness(50%) saturate(.5);
}

.postContentWrapper .postLanding h1 {
  font-size: 55px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.postContentWrapper .postLanding h5 {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
  font-style: italic;

}

.postContent {
  max-width: 600px;
  margin: auto;
}

.imgContainer img{
  display: block;
  width: 100%;
}

.imgContainer .imgDescription {
  text-align: center;
  font-style: italic;
  width: 100%;
  font-size: 14px;
  display: block;
}